[%-
  DEFAULT title = 'Lintel Demo';
-%]
<!DOCTYPE html>
<html>
<head>
  <title>[% title %]</title>
  <style>
    .invisible { display: none; }

    header {
        background-color: #222;
        color: #999;
        padding: 0.67em;
    }
    header h1 { margin-top: 0px; }
    header a:link    { color: #FFF; }
    header a:visited { color: #94C2DB; }
    header a:hover   { color: #D1B175; }
    header a:active  { color: #BB3E4D; }
    body {
        margin: 0px;
        padding: 0px;
        background-color: #777;
    }
    div.mainbody {
        padding: 2em;
        background-color: white;
    }
    footer {
        padding: 1em;
        text-align: center;
        font-style: italic;
    }
  </style>
</head>
<body>
<header>
  <h1>[% title %]</h1>
  <ul>
    <li><a href="/">Home</a>
    <li><a href="https://github.com/campadrenalin/Lintel">Github</a>
  </ul>
</header>
<div class="mainbody">
  [% content %]
</div>
<footer>
  A little demo of the Lintel framework.
</footer>
<body>
</html>
